---
name: Build and Test
on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
  schedule:
    - cron: "7 3 * * *"
jobs:
  pre-commit:
    name: Pre commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"
      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v3.0.0
  test:
    name: Unit tests
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"
      - name: Install tools
        run: |
          sudo apt-get update
          sudo apt-get install ansible
          sudo apt-get install gdb
          sudo apt-get install python3
      - name: integration tests
        run: ./testing/integrate.sh
        shell: bash
  test-macos:
    name: Test on macos
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"
      - name: unit tests
        run: go test ./...
  test-windows:
    name: Test on windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"
      - name: unit tests
        run: go test ./...
