---
name: PR
on:
  - pull_request
jobs:
  pre-commit:
    name: Pre commit
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@331ce1d993939866bb63c32c6cbbfd48fa76fc57
      with:
        go-version-file: 'go.mod'
    - name: Install tools
      run: |
        curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.46.2
    - uses: actions/setup-python@v3
    - uses: pre-commit/action@v3.0.0
  test:
    name: Unit tests
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      - uses: actions/setup-go@331ce1d993939866bb63c32c6cbbfd48fa76fc57
        with:
          go-version: '^1.18'
      - name: Install tools
        run: |
          sudo apt-get update
          sudo apt-get install ansible
          sudo apt-get install gdb
          sudo apt-get install python3
      - name: integration tests
        run: ./testing/integrate.sh
        shell: bash
      
